 
  * {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #060B12;
    --button-positive: #1E395E;
    --button-negative: #3A495E;
    --secondary: #202833;
    --text: #3767AB
}

.banner {
    height: 33vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button.positive-button {
    background-color: var(--button-positive);
    border: 0;
}

button.negative-button {
    background-color: var(--button-negative)
}

.location-box.card {
    background-color: var(--secondary)
}

aside#checkoutBox {
    background-color: var(--secondary);
    opacity: 0.9;
    box-shadow: 10px 1px 10px 1px var(--secondary);
    border-radius: 5px;
}



#hero-banner {
    height: 100vh;
    background-image: url("hero_image_opt.jpg");
}

 
#earth-section {
    background-image: url("earth_image_opt.jpg");
}

#about-banner {
    background-image: url("about_image_opt.jpg");
}

#shop-banner {
    background-image: url("shop_image_opt.jpg");
}


.product-img-div {
    height: 128px;
    width: 128px;
    overflow: hidden;
    margin: auto;


}
.product-image {
    width: 100%;
    height: 100%;
}

.product-description {
    font-size: 0.8rem;
}

#checkoutBox {
    position: fixed;
    height: 40vh;
    background-color: #fff;
    top: 50;
    right: 0;
    z-index: 1;
    width: 0;
    transition: width 0.4s;
    border: 1px solid black;
    overflow-x: hidden;
}


#checkoutBox.displayCheckout {
    width: 100vw;
    padding: 1rem 1rem;
}

footer, nav {

    background-color: var(--primary)

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #checkoutBox.displayCheckout {
        height: 30vh;
    }
}

@media only screen and (min-width: 992px) {
    #checkoutBox.displayCheckout {
        height: 40vh;
        width: 30vw;
    }

    
}