#hero-banner {
    width: 100vw;
    height: 90vh;
    background-image: url("hero_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.row h1 {
    color: #fff;
    font-weight: bold;
}

.product-image {
    display: block;
    max-width: 40%;
    margin: 0 auto;
}

.product-description {
    font-size: 0.8rem;
}